{% extends 'base.html.twig' %}

{% block javascripts %}
    <script>
        function aButtonPressed() {

            $.post('{{ path('WowGuildAudit_ajax_add_team') }}',
                {
                    name: $('input.newTeamName').val(),
                    guildId: $('input.newTeamGuildId').val()
                },
                function (response) {
                    if (response.code == 100 && response.success) {
                        document.location.reload(true);
                    }

                }, "json");
        }

        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();

            $('button.addTeam').on('click', function () {
                aButtonPressed();
            });

            $confirmDialog = $("#confirm-dialog");
            $confirmDialog.dialog({
                autoOpen: false,
                modal: true
            });

            $(".confirmLink").click(function (e) {
                e.preventDefault();
                var $confirmLink = $(this);

                $confirmDialog.dialog({
                    buttons: {
                        "Confirm": function () {
                            $.post('{{ path('WowGuildAudit_ajax_remove_team') }}',
                                {
                                    teamId: $confirmLink.attr('data-teamId')
                                },
                                function (response) {
                                    if (response.code == 100 && response.success) {
                                        document.location.reload(true);
                                    }

                                }, "json");
                        },
                        "Cancel": function () {
                            $(this).dialog("close");
                        }
                    }
                });

                $confirmDialog.dialog("open");
            });
        });
    </script>
{% endblock %}
{% block body %}

    <header>
        <div id="confirm-dialog" title="Confirmation Required">
            Are you sure you want to delete the team? You will lose it along with all assigned members to this team!
        </div>
        <div class='header-content'>
            <div class='header-content-inner'>
                <h2>Managing {{ guild.name }} on {{ guild.realm.name }} ({{ guild.realm.region }})</h2>
                <h3>Keycode: {{ guild.guildkey }}</h3>
                {% set counter = 0 %}
                {% for team in guild.teams %}
                    {% set counter = counter + 1 %}
                    <div class="col-lg-4">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                {{ team.name }}</div>
                            <div class="panel-body" style="color: black">
                                <i class="glyphicon glyphicon-cog"><a
                                            href={{ path('manage_guild_team', {'teamId': team.id}) }}>Manage</a></i>
                                <i class="glyphicon glyphicon-trash"><a href=""
                                                                        class="confirmLink"
                                                                        data-teamId="{{ team.id }}">Remove</a></i>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% if counter < 10 %}
                    <div class="col-lg-4">
                        <div
                                {% if user.premium == false %}
                            data-toggle="tooltip" title="Only premium members can add more teams!" data-placement="bottom"
                                {% endif %}>
                            <div class="panel panel-success
                        {% if user.premium == false %}
                            disabled
                        {% endif %}">
                                <div class="panel-heading">
                                    <input type="text" class="newTeamName">
                                    <input type="hidden" class="newTeamGuildId" value="{{ guild.id }}">
                                </div>
                                <div class="panel-body" style="color: black">
                                    <button class="addTeam">Add team</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </header>
{% endblock %}
