{% extends 'base.html.twig' %}

{% block javascripts %}
{% endblock %}

{% block body %}
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Track New Guild</h1>
                <div class="center">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                    {% if error is defined %}
                        <div class="alert alert-danger">
                            <strong>Error!</strong> This guild already exists.
                        </div>
                    {% endif %}
                    <div class="input-group center-element">
                        {{ form_widget(form.realm, {'id': 'realm'}) }}
                        {{ form_widget(form.name) }}
                    </div>
                    {{ form_widget(form.track) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </header>
{% endblock %}

